@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background-primary: #1a1c19;
    --background-secondary: #222c23;
    --background-muted: 66, 66, 64;
    --primary: #7adb8e;
    --secondary: #ffb3ab;
    --light: #e1e4de;
    --muted: 139, 146, 136;
  }

  .green-apple {
    --background-primary: #1a1c19;
    --background-secondary: #222c23;
    --background-muted: 66, 66, 64;
    --primary: #7adb8e;
    --secondary: #ffb3ab;
    --light: #e1e4de;
    --muted: 139, 146, 136;
  }

  .midnight-dusk {
    --background-primary: #16151d;
    --background-secondary: #19131d;
    --background-muted: 63, 62, 68;
    --primary: #ef2475;
    --secondary: #55971c;
    --light: #e6e1e5;
    --muted: 159, 140, 143;
  }

  .lavender {
    --background-primary: #111129;
    --background-secondary: #1d193b;
    --background-muted: 58, 60, 83;
    --primary: #a177ff;
    --secondary: #5d25e0;
    --light: #dee8ff;
    --muted: 110, 77, 191;
  }

  .strawberry-daiquiri {
    --background-primary: #201a1a;
    --background-secondary: #312727;
    --background-muted: 72, 66, 66;
    --primary: #ffb2ba;
    --secondary: #e8c08d;
    --light: #ebdfdf;
    --muted: 160, 140, 141;
  }

  .tako {
    --background-primary: #21212d;
    --background-secondary: #272435;
    --background-muted: 72, 71, 85;
    --primary: #f3b375;
    --secondary: #66577e;
    --light: #e3e0f1;
    --muted: 149, 143, 153;
  }

  .teal-turquoise {
    --background-primary: #202125;
    --background-secondary: #202529;
    --background-muted: 71, 70, 74;
    --primary: #3fe0d0;
    --secondary: #c01f2f;
    --light: #dfdeda;
    --muted: 137, 147, 146;
  }

  .tidal-wave {
    --background-primary: #001c3b;
    --background-secondary: #082b4b;
    --background-muted: 42, 67, 99;
    --primary: #5ed4fc;
    --secondary: #92f7bd;
    --light: #d5e3fe;
    --muted: 139, 146, 149;
  }

  .yin-yang {
    --background-primary: #1e1e1e;
    --background-secondary: #313131;
    --background-muted: 70, 70, 70;
    --primary: #ffffff;
    --secondary: #000000;
    --light: #e6e6e6;
    --muted: 153, 153, 153;
  }

  .yotsuba {
    --background-primary: #221a19;
    --background-secondary: #322723;
    --background-muted: 74, 66, 63;
    --primary: #ffb49e;
    --secondary: #d7c68e;
    --light: #eee0dd;
    --muted: 159, 140, 134;
  }

  .natural-sky {
    --background-primary: #1b1b1d;
    --background-secondary: #262930;
    --background-muted: 68, 68, 70;
    --primary: #adc6ff;
    --secondary: #7adc77;
    --light: #e4e2e6;
    --muted: 141, 144, 153;
  }
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .button {
    @apply bg-primary rounded-xl px-3 py-1
          shadow-white/40 shadow-md
          hover:bg-secondary hover:shadow-secondary 
          font-semibold;
  }
}

@layer utilities {
  .shadow-1 {
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px
30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}


.flicker-in-1 {
  -webkit-animation: flicker-in-1 1.7s linear both;
  animation: flicker-in-1 1.7s linear both;
}
.swirl-in-fwd {
  -webkit-animation: swirl-in-fwd 0.6s ease-out both;
  animation: swirl-in-fwd 0.6s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-9 21:56:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swirl-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-6 20:7:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
